body{
    background-color: #fcf9f4;
}

.sidebaradmin{
    background-color: #49495E;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.menu-title{
    color: #fff;
}
.topbar{
    background-color: #49495E;
    box-shadow: 0 10px 12px -6px #49495E;;
}
.card-admin{
    color: #fff;
    background-color: #ebab54;
}
.bg{
    color: #fff;
    background-color: #ebab54;
}
.feather{
    color: #ebab54;
    
}
.profile-name{
    color: #fff;
}
.profile-title{
    color: #fff;
}
.table-responsive{
    border: solid 1px #c3c3cc;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 10px 12px -6px #ebab54;
}
.fa-map-marked-alt{
    color: #fff;
}

.profile a{
    margin-right: 50px;
}
.profile a i span{
    margin: 10px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 0;
    color: #fff;
    background-color: #49495E;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .sidebar-menu{
    display: flex;
    align-items: center;
    padding: 15px 25px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .sidebar-menu > span{
    font-size: 25px;
    padding-right: 30px;
  }
  
  .sidebar-menu:hover{
    color: #ebab54;
    background-color: #fcf9f4;
  }
  .sidebar-menu:hover a p{
    color: #ebab54;
    
  }
   .sidebar-menu:hover a p{
    color: #ebab54;
    
  }
  
  .conteneur{
    background-color: #fcf9f4;
    border: solid 1px #ebab54;
    box-shadow: 0 10px 12px -6px #ebab54;
    height: 700px;
  }
  .card-affichage-conteneur{
    border: solid 1px #ebab54;
    background-color: #fcf9f4;
    height: 500px;
  }
  .alert-success {
    margin-top: 20px;
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }


.bto{
  border-radius: 6px;
  font-size: 15px;
  line-height: 10px;
  position: static;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bto:hover{
  color: #fff;
}
.thead-commandes{
  background-color: #49495E;
  color: #fff;
}
td{
  text-align: center;
  vertical-align: middle;
}