{% extends 'admin_dashboard/layout.html' %}
{% block content %}
{% if current_user.is_admin %}

<h2 style="    margin-top: 20px; margin-bottom: -10px;">Liste des commandes</h2>
<div class="container mt-4">
    <form method="GET" action="{{ url_for('list_commandes') }}" class="mb-3">
        <div class="input-group">
            <input type="text" name="search_commande" class="form-control mr-sm-1" placeholder="Rechercher par numéro de commande ou date...">
            <div class="input-group-append">
                <button type="submit" class="bto btn-primary">Rechercher</button>
            </div>
        </div>
    </form>
{% if nombre_commandes %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-commandes">
                <tr class="text-center">
                    <th scope="col">Numéro de commande</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Détails de la commande</th>
                    <th scope="col">Action</th>
                    <th scope="col">Status</th>

                  </tr>

                </tr>
            </thead>
            <tbody >
            {% for commande in commandes_pagination.items %}
                <tr>
                    <td style="vertical-align: middle;">{{ commande.numero_commande }}</td>
                    <td style="vertical-align: middle;">{{ commande.date_creation }}</td>
                    <td style="vertical-align: middle;">{{ commande.user.nom }} {{ commande.user.prenom }}</td>
                    <td style="vertical-align: middle;">
                        <button class="btn btn-primary btn-sm voir-details"  data-commande-id="{{ commande.id }}" data-bs-toggle="modal" data-bs-target="#commandeDetailsModal">Voir détails</button>
                    </td>
                    <td style="vertical-align: middle;">
                        <button class="btn btn-primary btn-sm emballer" data-commande-id="{{ commande.id }}" data-bs-toggle="modale">Emballer</button>
                    </td>
                    <td class="text-center" style="vertical-align: middle;" >
                      <!-- Badge for status -->
                      <span class="badge mb-1
                          {% if commande.status == 'Emballer' %}
                              bg-success
                          {% else %}
                              bg-secondary
                          {% endif %}">
                          {{ commande.status }}
                      </span>
                  </td>

                   
                </tr>
            {% endfor %}
            </tbody>
        </table>
           <!-- Pagination des commandes -->
    <nav aria-label="Page navigation example mt-5">
        <ul class="pagination justify-content-end">
            <li class="page-item {% if not commandes_pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" {% if commandes_pagination.has_prev %}href="{{ url_for('list_commandes', commandes_page=commandes_pagination.prev_num) }}"{% endif %}><i class="fa-solid fa-angles-left"></i></a>
            </li>
            {% for page_num in commandes_pagination.iter_pages() %}
                {% if page_num %}
                    <li class="page-item {% if page_num == commandes_pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('list_commandes', commandes_page=page_num) }}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">...</span>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not commandes_pagination.has_next %}disabled{% endif %}">
                <a class="page-link" {% if commandes_pagination.has_next %}href="{{ url_for('list_commandes', commandes_page=commandes_pagination.next_num) }}"{% endif %}><i class="fas fa-angles-right"></i></a>
            </li>
        </ul>
    </nav>
    </div>
    {% else %}
      <!-- Message affiché si aucune commande n'est trouvée -->
  <div class="alert-warning text-center">
    Aucune commandes trouvées.
  </div>
</div>
{% endif %}
</div>
{% for commande in commandes_pagination.items  %}
<!-- Modal pour les détails de la commande -->
<div class="modal fade" id="commandeDetailsModal" tabindex="-1" aria-labelledby="commandeDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="commandeIdModal"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr style="background-color: #49495e; color: white;">
                        <th scope="col">ID/SKU</th>
                        <th scope="col">Largeur</th>
                        <th scope="col">Longueur</th>
                        <th scope="col">Hauteur</th>
                        <th scope="col">Poids</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Fragile</th>
                      </tr>
                    </thead>
                    <tbody id="articlesList">
                        <!-- Les articles associés à la commande seront affichés ici -->
                    </tbody>
                  </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
</div>
{%endfor%}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="packingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg  custom-modal-lg" style="max-width: 80% ; width: 90%" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="commandeIdModal"></h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <div class="table-container">
          <!-- Contenu du tableau généré dynamiquement ici -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" id="saveButton" data-commande-id="">Valider</button>
    </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/detailcommande.js') }}"></script>
{%endif%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/controls/OrbitControls.min.js"></script>

{% endblock %}
