{% extends 'admin_dashboard/layout.html' %}
{% block content %}
{% if current_user.is_admin %}
<div class="container mt-4">
    <h2 class="mb-4">Liste des Clients</h2>
    <!-- Barre de recherche -->
    <form class="mb-3" method="get" action="{{ url_for('list_clients') }}">
        <div class="input-group">
            <input class="form-control mr-sm-1" type="search" placeholder="Rechercher par nom ou prénom"
                aria-label="Search" name="search">
            <div class="input-group-append">
                <button type="submit" class="bto btn-primary">Rechercher</button>
            </div>
        </div>

    </form>
{% if total_clients %}
    <!-- Fin barre de recherche -->
    <div class="row mt-6">
        <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead class="thead-commandes">
                                <tr>
                                    <th>Id</th>
                                    <th>Photo</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Actions</th>
                                    <th>Etat</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users_pagination.items %}
                                <tr>
                                    <td style="vertical-align: middle;">{{ user.id }}</td>
                                    <td style="vertical-align: middle;"><img src="{{ url_for('static', filename='images/' + user.image) }}"
                                            alt="Photo de profil" class="img-fluid rounded-circle"
                                            style="width: 50px; height: 50px;"></td>
                                    <td style="vertical-align: middle;">{{ user.prenom }}</td>
                                    <td style="vertical-align: middle;">{{ user.nom }}</td>
                                    <td style="vertical-align: middle;">{{ user.email }}</td>
                                    <td style="vertical-align: middle;">{{ user.telephone }}</td>
                                    <td style="vertical-align: middle;">
                                        <button type="button" class=" bto  btn-sm m-1 delete" style="background-color: #49495E; color: white;" 
                                            data-toggle="modal" data-target="#deleteModal{{ user.id }}"><i
                                               class="fa-solid fa-user-minus"></i></button>
                                        <button type="button" class="bto btn-warning btn-sm m-1 view-address"
                                            data-toggle="modal" data-target="#addressModal{{ user.id }}"><i
                                                class="fas fa-map-marked-alt"></i></button>
                                    </td>
                                    <td  style="vertical-align: middle;">{{ "Active" if user.active else "Inactive" }}</td>
                                    <td style="vertical-align: middle;">
                                            <form action="/user/{{ user.id }}/toggle_active" method="post">
                                                <button type="submit" class="{{ 'btn-danger' if user.active else 'btn-success' }}">
                                                    {{ "Désactivé" if user.active else "Activaté" }}
                                                </button>
                                            </form>
                                    </td>
                                </tr>
                                <!-- Modal de confirmation de suppression -->
                                <div class="modal fade" id="deleteModal{{user.id}}" tabindex="-1" role="dialog"
                                    aria-labelledby="deleteModalLabel{{user.id}}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel{{user.id}}">Confirmation de
                                                    suppression</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Êtes-vous sûr de vouloir supprimer cet utilisateur ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-secondary"
                                                    data-dismiss="modal">Annuler</button>
                                                <form action="{{ url_for('delete_user', id=user.id) }}" method="POST">
                                                    <button type="submit" class="btn btn-outline-success">Ok</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <!-- Modal pour visualiser l'adresse -->
                                <div class="modal fade" id="addressModal{{ user.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="addressModalLabel{{ user.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addressModalLabel{{ user.id }}">Adresses de
                                                {{ user.prenom }} {{ user.nom }}</h5>
                                            <button type="button" the="close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% if user.adresses %}
                                                <ul>
                                                    {% for adresse in user.adresses %}
                                                    <li>
                                                        <strong>Rue:</strong> {{ adresse.rue }}<br>
                                                        <strong>Code Postal:</strong> {{ adresse.code_postal }}<br>
                                                        <strong>Ville:</strong> {{ adresse.ville }}<br>
                                                        <strong>Pays:</strong> {{ adresse.pays }}<br>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>Aucune adresse saisie pour l'instant.</p>
                                            {% endif %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- Pagination des Clients -->
                        <nav aria-label="Page navigation example mt-3">
                            <ul class="pagination justify-content-end">
                                <li class="page-item {% if not users_pagination.has_prev %}disabled{% endif %}">
                                    <a class="page-link" {% if users_pagination.has_prev
                                        %}href="{{ url_for('list_clients', users_page=users_pagination.prev_num) }}" {%
                                        endif %}><i class="fas fa-angle-left"></i></a>
                                </li>
                                {% for page_num in users_pagination.iter_pages() %}
                                {% if page_num %}
                                <li class="page-item {% if page_num == users_pagination.page %}active{% endif %}">
                                    <a class="page-link" href="{{ url_for('list_clients', users_page=page_num) }}">{{
                                        page_num }}</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                                {% endif %}
                                {% endfor %}
                                <li class="page-item {% if not users_pagination.has_next %}disabled{% endif %}">
                                    <a class="page-link" {% if users_pagination.has_next
                                        %}href="{{ url_for('list_clients', users_page=users_pagination.next_num) }}" {%
                                        endif %}><i class="fas fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>

        </div>
    </div>
    {% else %}
    <div class="alert-warning text-center">
        Aucun client trouvé.
      </div>
      {% endif %}
</div>
{% endif %}
{% endblock content %}