{% extends 'admin_dashboard/layout.html' %}
{% block content %}
{% if current_user.is_admin %}

<div class="row mr-0">
    <div class="col subpage">
        <div class="row m-t-50">
            <div class="col subpage-menu">
                <ul>
                    <li><a class="nav-link active" id="password-tab" href="#password-section">CHANGER MOT DE PASSE</a></li>

                </ul>
            </div>
        </div>
        <div class="container">
            <div class="tab-content">
               
                <div class="tab-pane fade show active" id="password-section" role="tabpanel" aria-labelledby="password-tab">
                    <div class="row">
                        <div class="col">
                            <div class="bag"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="subpage-content">
                                <div class="Customer-container">
                                    <div class="card">
                                        <div class="card-header">Changer mot de passe</div>
                                        <form method="POST" action="" enctype="multipart/form-data">
                                            {{ form_password.csrf_token }}
                                            <div class="card-content">
                                                <div class="row">
                                                    <div class="col flex-column d-flex justify-content-start">
                                                        <div class="form-row form-field-block">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{
                                                                    form_password.mot_de_passe.label(class="form-control-label")
                                                                    }}
                                                                    {% if form_password.mot_de_passe.errors %}
                                                                    {{ form_password.mot_de_passe(class="form-control
                                                                    form-control-lg is-invalid") }}
                                                                    <div class="invalid-feedback">
                                                                        {% for error in
                                                                        form_password.mot_de_passe.errors %}
                                                                        <span>{{ error }}</span>
                                                                        {% endfor %}
                                                                    </div>
                                                                    {% else %}
                                                                    {{ form_password.mot_de_passe(class="form-control
                                                                    form-control-lg") }}
                                                                    {% endif %}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="form-row form-field-block">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{
                                                                    form_password.confirm_password.label(class="form-control-label")
                                                                    }}
                                                                    {% if form_password.confirm_password.errors %}
                                                                    {{
                                                                    form_password.confirm_password(class="form-control
                                                                    form-control-lg is-invalid") }}
                                                                    <div class="invalid-feedback">
                                                                        {% for error in
                                                                        form_password.confirm_password.errors %}
                                                                        <span>{{ error }}</span>
                                                                        {% endfor %}
                                                                    </div>
                                                                    {% else %}
                                                                    {{
                                                                    form_password.confirm_password(class="form-control 
                                                                    form-control-lg") }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-auto align-content-end">
                                                            <div class="col text-right">
                                                                {{ form_password.submit(class="btn btn-primary") }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <img src="https://www.3dbinpacking.com/public/img/3dbp/img-man-painting-password.svg"
                                                            style="    position: relative;
                                                display: block;
                                                top: -40px;
                                                left: 0px;
                                                margin-left: auto;
                                                margin-right: auto;
                                                height: 350px;">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Assurez-vous d'inclure jQuery avant Bootstrap.js -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Inclure Bootstrap.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>

{% endif %}
{% endblock content %}