{% extends "user_dashboard/layout.html" %}
{% block content %}
  
<div class="row col">
  <!-- Card Total Articles -->
  <div class="card col-md-5 total1 mb-4">
     <div class="info">
        <div class="info-detail">
           <h3>Total Articles</h3>
           <h2>{{ nombre_articles }} <span>articles</span></h2>
        </div>
        <div class="info-image"><i class="fas fa-boxes-stacked"></i></div>
     </div>
  </div>

  <!-- Espace -->
  <div class="m-1"></div>

  <!-- Card Total Commandes -->
  <div class="card col-md-5 total2 mb-4">
     <div class="info">
        <div class="info-detail">
           <h3>Total Commandes</h3>
           <h2>{{ nombre_commandes }} <span>commandes</span></h2>
        </div>
        <div class="info-image"><i class="fas fa-boxes"></i></div>
     </div>
  </div>
</div>


    <!-- 2 cards bottom -->
    {% if articles %}
    <div class="row">
      <div  class="col-md-6" id="graphique">{{ graph_htmlarticle|safe }}</div>
      <div  class="col-md-6" id="graphique">{{ graph_htmlcommandes|safe }}</div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">{{ graph_htmlbar|safe }}</div>
      <div class="col-md-6 mt-3" id="pie-chart">{{ graph_htmlpie|safe }}</div>

    </div>
    <div class="row mt-3">
        <div class="col-md-10">
            <div class="card detail">
                <div class="detail-header">
                    <form method="POST" action="{{ url_for('download_articles') }}">
                        <button type="submit" class="mb-3 download" style="background-color: #49495e;color: #fff;
                        border: 1px solid #49495e; height: 40px;">Télécharger</button>
                        <table>
                            <tr>
                                <th>Id/Sku</th>
                                <th>Largeur</th>
                                <th>Longueur</th>
                                <th>Hauteur</th>
                                <th>Poids</th>
                                <th>Quantité</th>
                                <th>Fragile</th>
                            </tr>
                            {% for article in articles_pagination.items %}
                            <tr>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.sku}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.largeur}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.longueur}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.hauteur}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.poids}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.quantite}}</td>
                                <td style="border: 1px solid black;padding: 5px; text-align: center;">{{article.fragile}}</td>
                                <td><input style="width: 20px; height: 20px; margin-left: 20px;" type="checkbox" name="selected_articles" value="{{ article.id }}"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                </div>
                <!-- Pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end mt-3">
                        <li class="page-item {% if not articles_pagination.has_prev %}disabled{% endif %}">
                            <a class="page-link" {% if articles_pagination.has_prev %}href="{{ url_for('acceuil_client', page=articles_pagination.prev_num) }}"{% endif %}><i class="fa-solid fa-angles-left"></i></a>
                        </li>
                        {% for page_num in articles_pagination.iter_pages() %}
                        {% if page_num %}
                        <li class="page-item {% if page_num == articles_pagination.page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('acceuil_client', page=page_num) }}">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="page-item {% if not articles_pagination.has_next %}disabled{% endif %}">
                            <a class="page-link" {% if articles_pagination.has_next %}href="{{ url_for('acceuil_client', page=articles_pagination.next_num) }}"{% endif %}><i class="fa-solid fa-angles-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {% endif %}
    


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='scripts/chart_commande.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/chart_articles.js') }}"></script>
{% endblock content %}
