{% extends "user_dashboard/layout.html" %}
{% block content %}
  <div class="dashboard-container">
    <!-- 4 cards top -->
    <div class="card total1">
      <div class="info">
        <div class="info-detail">
          <h3>Artciles</h3>
          <p>Nombre d'articles créés</p>
          <h2>{{nombre_articles}}</h2>
        </div>
        <div class="info-image"><i class="fas fa-boxes-stacked"></i></div>
      </div>
    </div>
  
    <div class="card total2">          
      <div class="info">
        <div class="info-detail">
          <h3>Total Orders</h3>
          <p>Lorem ipsem dolor</p>
          <h2>10,890 <span>Orders</span></h2>
        </div>
        <div class="info-image"><i class="fas fa-boxes"></i></div>
      </div>
    </div>
  
    <div class="card total3">
      <div class="info">
        <div class="info-detail">
          <h3>Customer</h3>
          <p>Lorem ipsem dolor</p>
          <h2>340 <span>Companies</span></h2>
        </div>
        <div class="info-image"><i class="fas fa-user-friends"></i></div>
      </div>
    </div>
  
    <div class="card total4">          
      <div class="info">
        <div class="info-detail">
          <h3>Daily Orders</h3>
          <p>Lorem ipsem dolor</p>
          <h2>56 <span>Orders</span></h2>
        </div>
        <div class="info-image"><i class="fas fa-shipping-fast"></i></div>
      </div>
    </div>
  
    <!-- 2 cards bottom -->
    <div class="card detail">
      <div class="detail-header">
        <h2>All Orders</h2>
        <button> See More</button>         
      </div>
      <table>
        <tr>
          <th>Order #</th>
          <th>Company</th>
          <th>Status</th>
          <th>Total</th>
          <th>Created</th>
          <th>Last Updated</th>
        </tr>
        <tr>
          <td>#PW-0001</td>
          <td>Potential Corp</td>
          <td><span class="status onprogress"><i class="fas fa-circle"> ONPROGRESS</i></span></td>
          <td>3,148.19 USD</td>
          <td>Apr 11, 2021</td>
          <td>Today</td>
        </tr>
        <tr>
          <td>#PW-0002</td>
          <td>Webcode inc</td>
          <td><span class="status confirmed"><i class="fas fa-circle"> CONFIRMED</i></span></td>
          <td>830.78 USD</td>
          <td>Mar 29, 2021</td>
          <td>Yesteday</td>
        </tr>
        <tr>
          <td>#PW-0003</td>
          <td>Codding time</td>
          <td><span class="status fulfilled"><i class="fas fa-circle"> FULFILLED</i></span></td>
          <td>928.81 USD</td>
          <td>Feb 10, 2020</td>
          <td>Feb 21, 2021</td>
        </tr>
        <tr>
          <td>#PW-0004</td>
          <td>Microsoft</td>
          <td><span class="status fulfilled"><i class="fas fa-circle"> FULFILLED</i></span></td>
          <td>6,239.53 USD</td>
          <td>Dec 11, 2020</td>
          <td>Jan 23, 2021</td>
        </tr>
        <tr>
          <td>#PW-0005</td>
          <td>Apple inc</td>
          <td><span class="status confirmed"><i class="fas fa-circle"> CONFIRMED</i></span></td>
          <td>187.13 USD</td>
          <td>Nov 20, 2020</td>
          <td>Jan 09, 2021</td>
        </tr>
        <tr>
          <td>#PW-0006</td>
          <td>Penerang</td>
          <td><span class="status onprogress"><i class="fas fa-circle"> ONPROGRESS</i></span></td>
          <td>624.65 USD</td>
          <td>Nov 01, 2020</td>
          <td>Dec 15, 2020</td>
        </tr>
        <tr>
          <td>#PW-0007</td>
          <td>Paralon Corp</td>
          <td><span class="status confirmed"><i class="fas fa-circle"> CONFIRMED</i></span></td>
          <td>2,483.09 USD</td>
          <td>Oct 13, 2020</td>
          <td>Oct 21, 2020</td>
        </tr>
        <tr>
          <td>#PW-0008</td>
          <td>Coding Scale</td>
          <td><span class="status onprogress"><i class="fas fa-circle"> ONPROGRESS</i></span></td>
          <td>1,247.00 USD</td>
          <td>Sep 20, 2020</td>
          <td>Oct 13, 2020</td>
        </tr>
      </table>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i> Graphique d'aire</div>
      <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
      </div>
      <div class="card-footer small text-muted">Mis à jour hier à 23h59</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      // -- Configuration de Chart.js
      Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = '#292b2c';
    
      // -- Définition des données pour le graphique d'aire
      var ctx = document.getElementById("myAreaChart").getContext('2d');
var myAreaChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: { dates , tojson },
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 20,
      pointBorderWidth: 2,
      data: { nombres_articles , tojson },
    }],
  },
        options: {
          scales: {
            xAxes: [{
              time: {
                unit: 'date'
              },
              gridLines: {
                display: false
              },
              ticks: {
                maxTicksLimit: 7
              }
            }],
            yAxes: [{
              ticks: {
                min: 0,
                max: 40000,
                maxTicksLimit: 5
              },
              gridLines: {
                color: "rgba(0, 0, 0, .125)",
              }
            }],
          },
          legend: {
            display: false
          }
        }
      });
    </script>
    
{% endblock content %}
