{% extends "user_dashboard/acceuil.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.prenom }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
            <form method="POST" action="" enctype="multipart/form-data"> 
              {{ form.hidden_tag() }}
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                  {{ form.nom.label(class="form-control-label") }} {% if
                  form.nom.errors %} {{ form.nom(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.nom.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.nom(class="form-control form-control-lg") }} {%
                  endif %}
                </div>
                <div class="form-group">
                  {{ form.prenom.label(class="form-control-label") }} {% if
                  form.prenom.errors %} {{ form.prenom(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.prenom.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.prenom(class="form-control form-control-lg") }} {%
                  endif %}
                </div>
                <div class="form-group">
                  {{ form.email.label(class="form-control-label") }} {% if
                  form.email.errors %} {{ form.email(class="form-control form-control-lg
                  is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.email(class="form-control form-control-lg") }} {%
                  endif %}
                </div>
                <div class="form-group">
                  {{ form.mot_de_passe.label(class="form-control-label") }} {% if
                  form.mot_de_passe.errors %} {{ form.mot_de_passe(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.mot_de_passe.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.mot_de_passe(class="form-control form-control-lg") }} {%
                  endif %}
                </div>
                <div class="form-group">
                  {{ form.confirm_password.label(class="form-control-label") }} {% if
                  form.confirm_password.errors %} {{
                  form.confirm_password(class="form-control form-control-lg is-invalid")
                  }}
                  <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.confirm_password(class="form-control
                  form-control-lg") }} {% endif %}
                </div>
                <div class="form-group">
                    {{ form.image.label() }} 
                    {{ form.image(class ="form-control-file") }} 
                    {% if form.image.error %}
                        {% for error in form.image.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
              </fieldset>
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
            </form>
    </div>
{% endblock content %}