{% extends "user_dashboard/layout.html" %}
{% block content %}
<div id="app" class="col-lg-10">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <h3 class="mt-3">Ajouter article</h3>
    <hr>
    <div class="row">
      <div class="col">
        {{ form.sku.label(class="form-control-label") }} {% if
        form.sku.errors %} {{ form.sku(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.sku.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.sku(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.largeur.label(class="form-control-label") }} {% if
        form.largeur.errors %} {{ form.largeur(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.largeur.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.largeur(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.longueur.label(class="form-control-label") }} {% if
        form.longueur.errors %} {{ form.longueur(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.longueur.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.longueur(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.hauteur.label(class="form-control-label") }} {% if
        form.hauteur.errors %} {{ form.hauteur(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.hauteur.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.hauteur(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.poids.label(class="form-control-label") }} {% if
        form.poids.errors %} {{ form.poids(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.poids.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.poids(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.quantite.label(class="form-control-label") }} {% if
        form.quantite.errors %} {{ form.quantite(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.quantite.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.quantite(class="form-control form-control-lg") }} {%
        endif %}
      </div>
      <div class="col">
        {{ form.fragile.label(class="form-control-label") }} {% if
        form.fragile.errors %} {{ form.fragile(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.fragile.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.fragile(class="form-control form-control-lg") }} {%
        endif %}
      </div>
    </div>
    <button class="btn btn-outline-warning mt-3">{{ form.submit(class="btn btn-outline-warning") }}</button>
    <hr>
  </form>
  <div class="container" style="margin: 80; padding: 20px; background-color: white;">
    <div class="row">
      <div class="col">
        <table id="user-table" class="display  nowrap" cellspacing="2" width="100%"
          style="border-collapse: separate;  border-spacing: 5px 10px;">
          <thead>
            <tr>
              <th>Id/Sku</th>
              <th>Largeur</th>
              <th>Longueur</th>
              <th>Hauteur</th>
              <th>Poids</th>
              <th>Quantité</th>
              <th>Fragile</th>
            </tr>
          </thead>
          <tbody>
            {% for article in articles %}
            <tr>
              <td style=" text-align: center;">{{article.sku}}</td>
              <td style=" text-align: center;">{{article.largeur}}</td>
              <td style=" text-align: center;">{{article.longueur}}</td>
              <td style=" text-align: center;">{{article.hauteur}}</td>
              <td style=" text-align: center;">{{article.poids}}</td>
              <td style=" text-align: center;">{{article.quantite}}</td>
              <td style=" text-align: center;">{{article.fragile}}</td>
              <td>
                {% if article.user_id == current_user.id %}
                <button type="button" class="btn btn-outline-warning btn-sm m-1 btn-update" data-toggle="modal"
                  data-target="#editModal{{article.id}}" data-sku="{{ article.sku }}"
                  data-largeur="{{ article.largeur }}" data-longueur="{{ article.longueur }}"
                  data-hauteur="{{ article.hauteur }}" data-quantite="{{ article.quantite }}"
                  data-poids="{{ article.poids }}" data-fragile="{{ article.fragile }}">Modifier</button>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
                  data-target="#deleteModal{{article.id}}">Supprimer</button>
                {% endif %}
              </td>
            </tr>

            {% endfor %}
          </tbody>
          
        </table>

          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item {% if not articles_pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" {% if articles_pagination.has_prev %}href="{{ url_for('new_article', page=articles_pagination.prev_num) }}"{% endif %}>Previous</a>
              </li>
              {% for page_num in articles_pagination.iter_pages() %}
                {% if page_num %}
                  <li class="page-item {% if page_num == articles_pagination.page %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('new_article', page=page_num) }}">{{ page_num }}</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">...</a>
                  </li>
                {% endif %}
              {% endfor %}
              <li class="page-item {% if not articles_pagination.has_next %}disabled{% endif %}">
                <a class="page-link" {% if articles_pagination.has_next %}href="{{ url_for('new_article', page=articles_pagination.next_num) }}"{% endif %}>Next</a>
              </li>
            </ul>
          </nav>
      </div>
    </div>
  </div>
</div>


{% for article in articles %}
<div class="modal fade" id="editModal{{article.id}}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editer l'article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{{ url_for('update_article', id=article.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="modal-body">
          <!-- Affichage des champs de l'article -->
          <div class="form-group">
            <label for="sku">Sku/Id</label>
            <input type="text" class="form-control" id="edit-sku" name="sku" value="{{ article.sku }}">
          </div>
          <div class="form-group">
            <label for="largeur">Largeur</label>
            <input type="text" class="form-control" id="edit-largeur" name="largeur" value="{{ article.largeur }}">
          </div>
          <div class="form-group">
            <label for="longueur">Longueur</label>
            <input type="text" class="form-control" id="edit-longueur" name="longueur" value="{{ article.longueur }}">
          </div>
          <div class="form-group">
            <label for="hauteur">Hauteur</label>
            <input type="text" class="form-control" id="edit-hauteur" name="hauteur" value="{{ article.hauteur }}">
          </div>
          <div class="form-group">
            <label for="poids">Poids</label>
            <input type="text" class="form-control" id="edit-poids" name="poids" value="{{ article.poids }}">
          </div>
          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input type="text" class="form-control" id="edit-quantite" name="quantite" value="{{ article.quantite }}">
          </div>
          <div class="form-group">
            <label for="fragile">Fragile</label>
            <input type="checkbox" class="form-control" id="edit-fragile" name="fragile" {% if article.fragile %}
              checked {% endif %} value="{{ article.fragile }}">
          </div>
          <!-- Ajoutez d'autres champs d'article ici -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-outline-warning">Ok</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal de suppression pour chaque article -->
<div class="modal fade" id="deleteModal{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Supprimer l'article</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cet article ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <form action="{{ url_for('delete_article', id=article.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Supprimer">
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}