{% extends "user_dashboard/layout.html" %}
{% block content %}
<div class="card detail container">
    <div class="detail-header">
            <table>
          <tr>
            <th>Id/Sku</th>
            <th >Largeur</th>
            <th>Longueur</th>
            <th>Hauteur</th>
            <th>Poids</th>
            <th>Quantité</th>
            <th>Fragile</th>
          </tr>
          {% for article in articles %}
          <tr>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.sku}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.largeur}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.longueur}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.hauteur}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.poids}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.quantite}}</td>
            <td style="  border: 1px solid black;padding: 5px; text-align: center;">{{article.fragile}}</td>
          </tr>
          {% endfor %}
      </table>
      </div>
    </div>
  </div>

  {% endblock content %}