{% extends "layout.html" %}
{% block content %}
<div class="default-container">
  <div class="section-hero">
    <div class="custom-container">
      <div class="hero">
        <div class="row">
          <div class="col">
            <div class="custom-container">
              <div class="header">Optimisez votre processus d'emballage</div>
              <div class="sub-title text-center">
                  <h2>
                      Le logiciel d'optimisation de l'emballage Deep3DBP aide à choisir la bonne boîte pour chaque expédition
                  </h2>
              </div>
              <div class="bottom-spacer"></div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <div class="card assistant border-0">
                  <fieldset class="show">
                    <div class="card-content">
                      <div class="row assistant-block">
                        <div class="col">
                          <div class="row">
                           
                            <div class="col-5 pl-lg-3 desktop">
                              <img style="margin: 30px;" src="https://www.3dbinpacking.com/public/img/3dbp/assistant/start_1.svg" alt="">
                            </div>
                            <div class="col col-lg-7 d-flex align-items-start flex-column mb-3">
                              <h2 class="p-lg-4 pb-0">Hé! je suis Deep3DBP</h2>
                              <div class="text-18 p-lg-4 text"> Je suis là pour vous <b>aider</b>  avec nos algorithmes avancés, 
                                vous permettant d'optimiser les opérations de votre entreprise pour une <b>efficacité maximale</b>.
                                Confiez-nous vos produits, et nous les emballerons avec soin et <b>précision</b>, prêts à être expédiés en un rien de temps." 
                              </div>
                              <div class="mt-auto desktop">
                                <img src="https://www.3dbinpacking.com/public/img/3dbp/assistant/start_2.svg" alt="">
                              </div>
                            </div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/3D-1920w.PNG" alt="">






<div class="custom-container">

<div class="container-fluid nav1">
  <div class="card">
    <div class="card-container">
      <img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/output-1920w.png" alt="">

    </div>
  </div>

</div>
<div class="container-fluid">
<div class="card-container">
  <div class="row">
    <div class="col">
      <img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/output-1920w.png" alt="">
    </div>
  </div>
</div>
</div>
 </div>
 <div class="top-spacer"></div>
 <div class="container">
   <div class="row align-items-center g-5">
     <div class="col-lg-5">
       <img src="https://www.3dbinpacking.com/public/img/3dbp/dashboard/pl/ilu-accuracy-and-reliability.svg" alt="..." class="img-fluid">
   </div>
     <div class="col-lg-7">
       <h2>Introduction</h2>
     This is some content from a media component. You can replace this with any content and adjust it as needed.
     </div>
   </div>
   <div class="row align-items-center g-5 banner">
     <div class="col-lg-10 offset-lg-1 p-5">
       <h2>Banner Title</h2>
       <p>Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
     </div>
   </div>
     <div class="row align-items-center section">
       <div class="col-lg-7 p-5">
          <h2 class="float-end">Banner Title</h2>
         <p class="float-end">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
       </div>
       <div class="col-lg-5">
         <img src="https://www.3dbinpacking.com/public/img/3dbp/dashboard/pl/ilu-save-the-environment-with-us.svg" class="img-fluid float-start" />
       </div>
     </div>
   <div class="row align-items-center gx-5 banner-img">
     <div class="col-lg-8 offset-lg-1 p-5">
       <h2>Banner Title</h2>
       <p>Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
     </div>
   </div>
 </div>
{% endblock content %}