{% extends "layout.html" %}
{% block content %}
<div class="default-container">
  <div class="section-hero">
    <div class="custom-container">
      <div class="hero">
        <div class="row">
          <div class="col">
            <div class="custom-container">
              <div class="header">Optimisez votre processus d'emballage</div>
              <div class="sub-title text-center">
                  <h2>
                      Le logiciel d'optimisation de l'emballage Deep3DBP aide à choisir la bonne boîte pour chaque expédition
                  </h2>
              </div>
              <div class="bottom-spacer"></div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <div class="card assistant border-0">
                  <fieldset class="show">
                    <div class="card-content">
                      <div class="row assistant-block">
                        <div class="col">
                          <div class="row">
                           
                            <div class="col-5 pl-lg-3 desktop">
                              <img src="{{ url_for('static', filename='images/manbox2.png') }}" alt="Image de la boîte" class="img-fluid" style="width: 300px;margin: 30px;height: 450px;">>
                            </div>
                            <div class="col col-lg-7 d-flex align-items-start flex-column mb-3">
                              <h2 class="p-lg-4 pb-0">Hé! je suis Deep3DBP</h2>
                              <div class="text-18 p-lg-4 text"> Je suis là pour vous <b>aider</b>  avec nos algorithmes avancés, 
                                vous permettant d'optimiser les opérations de votre entreprise pour une <b>efficacité maximale</b>.
                                Confiez-nous vos produits, et nous les emballerons avec soin et <b>précision</b>, prêts à être expédiés en un rien de temps." 
                              </div>
                              <div class="mt-auto desktop">
                              <img src="{{ url_for('static', filename='images/boximage.png') }}" alt="Image de la boîte"  class="img-fluid" style="width: 500px;">>
                              </div>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/3D-1920w.PNG" alt="">






<div class="custom-container">

<div class="container-fluid nav1">
  <div class="card">
    <div class="card-container">
      <img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/output-1920w.png" alt="">

    </div>
  </div>

</div>
<div class="container-fluid">
<div class="card-container">
  <div class="row">
    <div class="col">
      <img src="https://lirp.cdn-website.com/c10be9aa/dms3rep/multi/opt/output-1920w.png" alt="">
    </div>
  </div>
</div>
</div>
 </div> -->

{% endblock content %}