{% extends "layout.html" %}
{% block content %}
<div class="mx-3">
    <div class="section-sign_in">
        <div class="custom-container">
            <h1 class="text-center header m-t-150 m-b-50">Bienvenue sur Deep3DBinPacking, Veuillez Vous Connectez</h1>
        </div>
        <div class="custom-container">
            <div class="card card-login">
                <div class="row card-contain">
                        <div class="col registration-left">
                            <form class="form-content" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <span>{{ form.email.label(class="form-control-label") }} *</span>
                                    {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    <span>{{ form.mot_de_passe.label(class="form-control-label") }} *</span>
                                    {% if form.mot_de_passe.errors %} {{form.mot_de_passe(class="form-control 
                                    form-control-lg is-invalid") }}
                                    <div class="">
                                        {% for error in form.mot_de_passe.errors %}
                                        <span title="required">{{ error }}*</span>
                                        {% endfor %}
                                    </div>
                                    {% else %} {{ form.mot_de_passe(class="form-control  form-control-lg password-input") }}
                                    {% endif %}
                                </div>
        
                                <div class="form-row" pt-4>
                                    <div class="col">
                                    
                                            {{ form.remember(class="form-check-input") }}
                                            
                                            {{ form.remember.label(class="form-check-label") }}
                                    </div>
                                    <div class="col">
                                        <div class="text-right">
                                            {{ form.submit(class="btn btn-outline-info") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row pt-4">
                                    <div class="col">
                                            <a class="link" href="{{url_for('reset_request')}}">Mot de passe oublié?</a>
                                    </div>
                                    <div class=" col text-right">
                                        <a class="img link" href="{{ url_for('register') }}">Créer un compte</a>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="col registration-right">
                        <img src="https://www.3dbinpacking.com/public/img/3dbp/img-welcome-back.svg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Assurez-vous que jQuery est inclus dans votre page HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Ajoutez ce script à la fin de votre page HTML -->
<script>
    $(document).ready(function(){
        // Fonction pour ajouter l'icône d'affichage/masquage du mot de passe
        function addPasswordToggleIcon() {
            // Sélectionnez le champ de mot de passe et son conteneur
            var passwordField = $('.password-input');
            var passwordContainer = passwordField.closest('.form-group');

            // Créez l'icône d'affichage/masquage du mot de passe
            var icon = $('<i>').addClass('toggle-password fa fa-eye').attr('aria-hidden', 'true');

            // Fonction pour basculer la visibilité du mot de passe
            function togglePasswordVisibility() {
                if (passwordField.attr('type') === 'password') {
                    passwordField.attr('type', 'text');
                    icon.removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    icon.removeClass('fa-eye-slash').addClass('fa-eye');
                }
            }

            // Ajoutez l'icône à l'intérieur du champ de mot de passe
            passwordField.after(icon);

            // Cachez l'icône initialement
            icon.hide();

            // Ajoutez un écouteur d'événements pour détecter la saisie dans le champ de mot de passe
            passwordField.on('input', function() {
                if ($(this).val().trim() !== '') {
                    icon.show();
                } else {
                    icon.hide();
                }
            });

            // Ajoutez un écouteur d'événements pour basculer la visibilité du mot de passe lorsque l'utilisateur clique sur l'icône
            icon.on('click', function() {
                togglePasswordVisibility();
            });
        }

        // Appelez la fonction pour ajouter l'icône lorsque le document est chargé
        addPasswordToggleIcon();
    });
</script>

    
{% endblock content %}
